@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --count-up: hsl(163, 72%, 41%);
  --count-down: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  --dark-mode-on: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dark-mode-off: hsl(230, 22%, 74%);

  --white: hsl(60, 100%, 100%);
  --black: hsl(225, 20%, 12%);
}

/* Dark Theme Colors */
.dark-theme {
  --bg-top: hsl(232, 19%, 16%);
  --bg-bottom: hsl(225, 17%, 14%);
  --bg-card: hsl(228, 29%, 20%);
  --bg-card-hover: hsl(228, 26%, 27%);
  --title-color: hsl(227, 25%, 67%);
  --text-color: var(--white);
  transition: all 0.3s ease-out;
}

/* Light Theme Colors */
.light-theme {
  --bg-top: hsl(225, 100%, 98%);
  --bg-bottom: hsl(0, 0%, 100%);
  --bg-card: hsl(227, 47%, 96%);
  --bg-card-hover: hsl(232, 33%, 91%);
  --title-color: hsl(231, 6%, 46%);
  --text-color: var(--black);
  transition: all 0.3s ease-out;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Desktop Styling */
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Header Styling */
header {
  height: 30vh;
  background: var(--bg-top);
  padding: 3rem 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.branding h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.branding p {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--title-color);
  margin-top: 0.5rem;
}

hr {
  visibility: hidden;
}

.dark-mode {
  display: flex;
  align-items: center;
}

.dark-mode span {
  font-weight: 700;
  color: var(--text-color);
}

input {
  position: relative;
  outline: none;
  appearance: none;
  background: var(--dark-mode-off);
  height: 24px;
  width: 48px;
  border-radius: 60px;
  margin-left: 1rem;
  cursor: pointer;
}

input:checked {
  background: var(--dark-mode-on);
}

input:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 20px;
  transform: scale(0.7);
  transition: all 0.3s;
}

input:checked:before {
  left: 24px;
}

/* Main Styling */
main {
  background: var(--bg-bottom);
}

.main {
  height: 70vh;
  position: relative;
  top: -10vh;
}

/* Global Cards Styling */
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 2rem;
  padding-bottom: 4rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: var(--bg-card);
  margin-top: 5px;
  cursor: pointer;
  border-radius: 0.4rem;
}

.card-wrapper .card-item {
  border-radius: 0 0 0.4rem 0.4rem;
}

.card-item:hover {
  background: var(--bg-card-hover);
}

/* Followers and Subscribers Cards */
.card-wrapper {
  border-radius: 0.5rem;
}

.facebook {
  background: var(--facebook);
}

.twitter {
  background: var(--twitter);
}

.instagram {
  background: var(--instagram);
}

.youtube {
  background: var(--youtube);
}

.direction {
  display: flex;
  align-items: center;
}

.direction span {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title span {
  margin-left: 0.5rem;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--title-color);
}

.card-item p:first-of-type {
  font-size: 3rem;
  font-weight: 700;
}

.card-item p:last-of-type {
  font-size: 0.8rem;
  color: var(--title-color);
  margin: 0.5rem 0 1.5rem 0;
  letter-spacing: 3px;
}

/* Overview Cards */
.overview-heading {
  padding: 0 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--title-color);
}

.overview {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.overview span {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--title-color);
}

.other-count {
  margin-top: 1.5rem;
}

.other-count > span {
  justify-content: flex-end;
  font-size: 2rem;
  color: var(--very-dark-blue);
}

span.count-up {
  color: var(--count-up);
}

span.count-down {
  color: var(--count-down);
}

/* Mobile Styling */
@media screen and (max-width: 500px) {
  header {
    height: auto;
    background: var(--bg-bottom);
    padding: 3rem 0;
  }

  .wrapper {
    max-width: calc(100vw);
    margin: 0 auto;
  }

  .header {
    flex-direction: column;
  }

  .branding h1 {
    font-size: 1.7rem;
  }

  hr {
    visibility: unset;
    margin: 1.5rem 0;
  }

  .dark-mode {
    justify-content: space-between;
  }

  .dark-mode span {
    font-weight: 700;
    color: var(--title-color);
  }

  .main {
    top: unset;
    height: unset;
    /* min-height: 70vh; */
  }

  .card {
    grid-template-columns: auto;
  }
}

/* Tablet Styling */
@media screen and (min-width: 501px) and (max-width: 999px) {
  header {
    height: auto;
    background: var(--bg-bottom);
  }

  .wrapper {
    max-width: calc(100vw);
    margin: 0 auto;
  }

  .header {
    flex-direction: column;
  }

  hr {
    visibility: unset;
    margin: 1.5rem 0;
  }

  .dark-mode {
    justify-content: space-between;
  }

  .dark-mode span {
    font-weight: 700;
    color: var(--title-color);
  }

  .main {
    top: unset;
    height: unset;
    /* min-height: 70vh; */
  }

  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* No Render on Less Than 240px */
@media screen and (max-width: 239px) {
  body {
    visibility: hidden;
  }

  html::before {
    content: "Sorry! This website can't be rendered on screens less than 240px.";
    visibility: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 180px;
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
    color: var(--count-down);
  }
}
